//
// loader.scss
//
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, $custom, $custom);
    z-index: 9999999;
    #status {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .sk-cube-grid {
            width: 50px;
            height: 50px;
            margin: 100px auto;
            .sk-cube {
                width: 33%;
                height: 33%;
                background-color: $white;
                float: left;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
            }
            .sk-cube1 {
                animation-delay: 0.2s; 
            }
            .sk-cube2 {
                animation-delay: 0.3s; 
            }
            .sk-cube3 {
                animation-delay: 0.4s; 
            }
            .sk-cube4 {
                animation-delay: 0.1s; 
            }
            .sk-cube5 {
                animation-delay: 0.2s; 
            }
            .sk-cube6 {
                animation-delay: 0.3s; 
            }
            .sk-cube7 {
                animation-delay: 0s; 
            }
            .sk-cube8 {
                animation-delay: 0.1s; 
            }
            .sk-cube9 {
                animation-delay: 0.2s; 
            }
        }
    }
}  
@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
                transform: scale3D(1, 1, 1);
    } 35% {
                transform: scale3D(0, 0, 1);
    } 
}