//
// price.scss
//
.pricing {
    .pricing-table {
        .pricing-plan {
            font-size: 18px;
            letter-spacing: 0.8px;  
        }
        .price-value {
            .price-lable {
                display: inline-block;
                width: 110px;
                height: 110px;
                line-height: 0px;
                color: $text-color;
                h4 {
                    font-size: 30px;
                }
            }
        }
        .pricing-features {
            ul {
                li {
                    position: relative;
                    padding: 10px 0;
                    font-size: 14px;
                    border-bottom: 1px dashed $gray-300;
                    &:first-child {
                        border-top: 1px dashed $gray-300;
                    }
                    &:nth-child(2n+1) {
                        background-color: $light;
                    }
                }
            }
        }
        &.price-two { 
            overflow: hidden;
            position: relative;
            .price-value{
                .price-lable {
                    height: auto;
                    width: auto;
                    h4 {                        
                        display: inline-block;
                    }
                }
            }
            .price-title {
                font-size: 18px;
                background-color: $gray-200;
            }
            .pricing-features {
                ul {
                    li {
                        &:nth-child(2n+1){
                            background-color: transparent !important;
                        }
                    }
                }
            }
            .lable {
                width: 200px;
                position: absolute;
                top: 30px;
                right: -50px;
                transform: rotate(45deg);
                z-index: 1;
                h6 {
                    font-size: 12px;
                }
            }
        }
        &.price-three {             
            .price-header {
                i {
                    font-size: 34px;
                }
                .price-title {
                    font-size: 18px;
                }
                p {
                    color: $secondary;
                }
            }
            .price-value{
                background: #ececec;
                .price-lable {
                    height: auto;
                    width: auto;
                    h4 {                        
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media (min-width: 200px) and (max-width: 767px) {
    .pricing-table {
        &.business-plan {
            transform: scale(1);
        }
    }
}

@media (min-width: 769px) {
    .pricing-table {        
        &.business-plan {
            transform: scale(1.06);
            z-index: 1;
        }
    }
}