//
// social-icon.scss
//
.social-icon {
    li {
        a {
            color: $gray-500;
            border: 1px solid $gray-500;
            display: inline-block;
            height: 32px;
            text-align: center;
            font-size: 15px;
            width: 32px;
            transition: all 0.4s ease;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            i {
                position: absolute;
                transition: all 0.4s ease;
                left: 0px;
                right: 0px;
                &.first-icon{
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.second-icon{
                    bottom: -60px;
                    left: -1px;
                    color: $custom;
                    height: 32px;
                    width: 32px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            &:hover{
                border-color: $custom !important;
                .first-icon{
                    top: -60px;
                }
                .second-icon{
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }
    }
    &.social {
        li {
            a {
                color: $text-color;
                border-color: $text-color;
            }
        }
    }
}