//
//tour.scss
//
// Tour {BEST VALUE TRIPS}
.tour-trip{
    transition: all 0.3s ease;
    .price {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 16px !important;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
    }
    &:hover {
        box-shadow: $box-shadow;
        margin-top: -10px;
    }
}