//
// variables.scss
//
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:400,600,700&display=swap');

// Color variables
$white:                     #ffffff;

$primary:                   #337ab7;
$secondary:                 #aeaeae;
$success:                   #5cb85c;
$info:                      #5bc0de;
$warning:                   #f0ad4e;
$danger:                    #d9534f;
$dark:                      #3e3e3e;
$black:                     #080806;
$muted:                     #707070;
$light:                     #f8f8f8;
$d-light:                   #f0f0f0;

$gray-100:                  #f8f9fa;
$gray-200:                  #e9ecef;
$gray-300:                  #dee2e6;
$gray-400:                  #ced4da;
$gray-500:                  #adb5bd;
$gray-600:                  #6c757d; 
$gray-700:                  #495057;

$navy:                      #1b263a;

$custom:                    #1abc9c;
$text-color:                #3e3e3e;
$transparent:               rgba(255, 255, 255, 0);
// Body Background
$body-bg:                   #f5f5f5;
$bg-color:                  #535353;
$bg-work:                   rgba(40, 40, 46, 0.55);
// Social Icon
$facebook:                  #3b5998;
$twitter:                   #1da1f2;
$dribbble:                  #ea4c89;
$vimeo:                     #00adef;
$instagram:                 #cf328c;
//Overlay
$overlay:                   rgba(37, 37, 37, 0.5);

// Shadow
$box-shadow:                0 0 10px rgba(0,0,0,0.1);

// Base font
$font-size-base:              16px;

$font-family-base:            'Raleway', sans-serif;
$font-family-secondary:       'Lato', sans-serif;